server:
  port: 8082

spring:
  application:
    name: ACCOUNT-SERVICE

  datasource:
    url: jdbc:mysql://mysql-account:3306/account_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka
