name: Docker CI with Trivy

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  REGISTRY: docker.io
  IMAGE_NAMESPACE: tienphatng237
  IMAGE_TAG: v1

jobs:
  build-scan-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # ===== Service Registry =====
      - name: Build service-registry
        run: |
          docker build -t $IMAGE_NAMESPACE/service-registry:$IMAGE_TAG ./Service-Registry

      - name: Trivy scan service-registry
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: $IMAGE_NAMESPACE/service-registry:$IMAGE_TAG
          severity: HIGH,CRITICAL
          exit-code: 1

      - name: Push service-registry
        run: |
          docker push $IMAGE_NAMESPACE/service-registry:$IMAGE_TAG

      # ===== API Gateway =====
      - name: Build api-gateway
        run: |
          docker build -t $IMAGE_NAMESPACE/api-gateway:$IMAGE_TAG ./API-Gateway

      - name: Trivy scan api-gateway
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: $IMAGE_NAMESPACE/api-gateway:$IMAGE_TAG
          severity: HIGH,CRITICAL
          exit-code: 1

      - name: Push api-gateway
        run: |
          docker push $IMAGE_NAMESPACE/api-gateway:$IMAGE_TAG

      # ===== User Service =====
      - name: Build user-service
        run: |
          docker build -t $IMAGE_NAMESPACE/user-service:$IMAGE_TAG ./User-Service

      - name: Trivy scan user-service
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: $IMAGE_NAMESPACE/user-service:$IMAGE_TAG
          severity: HIGH,CRITICAL
          exit-code: 1

      - name: Push user-service
        run: |
          docker push $IMAGE_NAMESPACE/user-service:$IMAGE_TAG